body{
    background-color: #E8D7BA;
    font-family: 'Lato', sans-serif;
}

.main-content{
  width:100%;
  max-width: 900px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.centered{
  width:100%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.scroll{
  display: block;
  width:70%;
  padding: 0 0 5% 0%;
  border-image: url(../img/scrollBG.png) 80 fill stretch;
  border-width: 50px;
  margin-left: -30px
}

.scroll {
  width: 100%;
  margin-top: 10px;
}

#event-info{
  color:white;
  font-size: 2em;
  font-family: 'Rochester', cursive;
  font-weight: lighter;
  margin: 0px;
  margin-top: 45px;
}

.RSVP *{
  display: block;
  text-align: center;
}

.RSVP h2{
  color:white;
  font-size: 8em;
  font-family: 'Rochester', cursive;
  font-weight: lighter;
  margin: 0px;
  margin-bottom: 30px;
}

#entry-form .error{
  display: none;
  height: auto
}

.RSVP input,button{
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.2));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";
}

#entry-form *{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 70%;
  height: 40px;
}

#entry-form button{
  width: 30%;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  border: none;
  margin-top: 20px;
  color: #989898;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Rochester', cursive;
}

#entry-form #form-comments{
  height: 70px;

}

#map{
  margin-top: 45px;
  max-width: 650px;
}

.RSVP #thank-you{
    font-family: 'Rochester', cursive;
    color: #e8d7ba;
    font-size: 4em;
    display: none;
}

#chicken-photos{
  margin-top: 50px;
  /*height: 300px;*/
}

#chicken-photos img{
  width:700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 50px;
  -webkit-box-shadow: 10px 10px 2px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 10px 10px 2px 0px rgba(0,0,0,0.24);
box-shadow: 10px 10px 2px 0px rgba(0,0,0,0.24);
}

.shadowed{
  -webkit-filter: drop-shadow(9px 9px 5px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";

}
