body{
    background-color: #E8D7BA;
}

.main-content{
  width:100%;
  max-width: 900px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.centered{
  width:100%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

#map{
  max-width: 650px;

}

.shadowed{
  -webkit-filter: drop-shadow(9px 9px 5px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";

}
